<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Around\Banner\Api\BannerRepositoryInterface" type="Around\Banner\Model\BannerRepository"/>
	<preference for="Around\Banner\Api\Data\BannerInterface" type="Around\Banner\Model\Banner"/>
	<preference for="Around\Banner\Api\Data\BannerSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Around\Banner\Model\ResourceModel\Banner\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">around_banner_banner</argument>
			<argument name="resourceModel" xsi:type="string">Around\Banner\Model\ResourceModel\Banner\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="around_banner_banner_listing_data_source" xsi:type="string">Around\Banner\Model\ResourceModel\Banner\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
