<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="training" translate="label" sortOrder="10">
            <label>Custom Settings</label>
        </tab>
            <section id="contactus" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Contact us</label>
                <tab>training</tab>
                <resource>Training_Example::Example_config</resource>
                <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>General Configuration</label>
                    <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Enable/disable contact us form</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="name" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>textarea example</label>
                    </field>
                    <field id="contactemail" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>contact email</label>
                    </field>
                    <field id="telephone" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>telephone</label>
                    </field>
                    <field id="enabletel" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Enable/disable phonenumber</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="comment" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Enable/disable comment</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
            </section>

    </system>
</config>