<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Training\ProductRegistration\Api\ProductRegistrationRepositoryInterface" type="Training\ProductRegistration\Model\ProductRegistrationRepository"/>
	<preference for="Training\ProductRegistration\Api\Data\ProductRegistrationInterface" type="Training\ProductRegistration\Model\ProductRegistration"/>
	<preference for="Training\ProductRegistration\Api\Data\ProductRegistrationSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Training\ProductRegistration\Model\ResourceModel\ProductRegistration\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">training_productregistration_productregistration</argument>
			<argument name="resourceModel" xsi:type="string">Training\ProductRegistration\Model\ResourceModel\ProductRegistration\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="training_productregistration_productregistration_listing_data_source" xsi:type="string">Training\ProductRegistration\Model\ResourceModel\ProductRegistration\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
