<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Sundari\Productfaq\Api\PqaRepositoryInterface" type="Sundari\Productfaq\Model\PqaRepository"/>
	<preference for="Sundari\Productfaq\Api\Data\PqaInterface" type="Sundari\Productfaq\Model\Pqa"/>
	<preference for="Sundari\Productfaq\Api\Data\PqaSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Sundari\Productfaq\Model\ResourceModel\Pqa\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">sundari_productfaq_pqa</argument>
			<argument name="resourceModel" xsi:type="string">Sundari\Productfaq\Model\ResourceModel\Pqa\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="sundari_productfaq_pqa_listing_data_source" xsi:type="string">Sundari\Productfaq\Model\ResourceModel\Pqa\Grid\Collection</item>
				<item name="sundari_productfaq_vote_listing_data_source" xsi:type="string">Sundari\Productfaq\Model\ResourceModel\Vote\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<preference for="Sundari\Productfaq\Api\VoteRepositoryInterface" type="Sundari\Productfaq\Model\VoteRepository"/>
	<preference for="Sundari\Productfaq\Api\Data\VoteInterface" type="Sundari\Productfaq\Model\Vote"/>
	<preference for="Sundari\Productfaq\Api\Data\VoteSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Sundari\Productfaq\Model\ResourceModel\Vote\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">sundari_productfaq_vote</argument>
			<argument name="resourceModel" xsi:type="string">Sundari\Productfaq\Model\ResourceModel\Vote\Collection</argument>
		</arguments>
	</virtualType>
</config>
