<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Sundari\Productfaq\Api\FaqRepositoryInterface" type="Sundari\Productfaq\Model\FaqRepository"/>
	<preference for="Sundari\Productfaq\Api\Data\FaqInterface" type="Sundari\Productfaq\Model\Faq"/>
	<preference for="Sundari\Productfaq\Api\Data\FaqSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Sundari\Productfaq\Api\VoteRepositoryInterface" type="Sundari\Productfaq\Model\VoteRepository"/>
	<preference for="Sundari\Productfaq\Api\Data\VoteInterface" type="Sundari\Productfaq\Model\Vote"/>
	<preference for="Sundari\Productfaq\Api\Data\VoteSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Sundari\Productfaq\Model\ResourceModel\Faq\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">sundari_productfaq_faq</argument>
			<argument name="resourceModel" xsi:type="string">Sundari\Productfaq\Model\ResourceModel\Faq\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="sundari_productfaq_faq_listing_data_source" xsi:type="string">Sundari\Productfaq\Model\ResourceModel\Faq\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
