<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="around_list2" id="around_list2">
			<module before="Magento_Backend" name="Around_List2"/>
		</route>
	</router>
</config>
