<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="around" translate="label" sortOrder="999">
			<label>around</label>
		</tab>
		<section id="productlist" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>productlist</label>
			<tab>around</tab>
			<resource>Around_List2::config_around_list2</resource>
			<group id="list2" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>list2</label>
				<field id="title" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>title</label>
					<comment/>
				</field>
				<field id="background" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>background</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
