<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Around_Category2::around_category2_category2" title="Category2" module="Around_Category2" sortOrder="9999" resource="Magento_Backend::content" parent="Around::top_level" action="around_category2/category2/index"/>
	</menu>
</config>
