<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Around_List3::around_list3_list3" title="List3" module="Around_List3" sortOrder="9999" resource="Magento_Backend::content" parent="Around::top_level" action="around_list3/list3/index"/>
	</menu>
</config>
