<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="StageBit\SignupSheet\Api\SignupSheetRepositoryInterface" type="StageBit\SignupSheet\Model\SignupSheetRepository"/>
	<preference for="StageBit\SignupSheet\Api\Data\SignupSheetInterface" type="StageBit\SignupSheet\Model\SignupSheet"/>
	<preference for="StageBit\SignupSheet\Api\Data\SignupSheetSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="StageBit\SignupSheet\Model\ResourceModel\SignupSheet\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">stagebit_signupsheet_signupsheet</argument>
			<argument name="resourceModel" xsi:type="string">StageBit\SignupSheet\Model\ResourceModel\SignupSheet\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="stagebit_signupsheet_signupsheet_listing_data_source" xsi:type="string">StageBit\SignupSheet\Model\ResourceModel\SignupSheet\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
