<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Around_Banner3::around_banner3_banner3" title="Banner3" module="Around_Banner3" sortOrder="9999" resource="Magento_Backend::content" parent="Around::top_level" action="around_banner3/banner3/index"/>
	</menu>
</config>
