<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_save_after">
		<observer name="sundari_rewards_observer_sales_ordersaveafter_sales_order_save_after" instance="Sundari\Rewards\Observer\Sales\OrderSaveAfter"/>
	</event>
    <event name="sales_order_save_commit_after">
        <observer name="sundari_rewards_observer_sales_ordersavecommitafter_sales_order_save_commit_after" instance="Sundari\Rewards\Observer\Sales\OrderCommitAfter"/>
    </event>
</config>
